CREATE DATABASE Basit_DB
GO
USE [Basit_DB]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 26.09.2025 14:28:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nick] [nvarchar](40) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Pfp] [nvarchar](max) NULL,
	[NotNull] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
